@import './colors';

body {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: inherit;
    width: max-content;
}

h1 {
    font-size: 1.5714285714rem;
    font-weight: 600;
    
    &.fizzle-text {
        text-shadow: 0 0 1px lighten($dark-hologram-blue, 34);
        font-weight: normal;
    }
}

h3 {
    font-size: 28px;
}

hc-navbar {
    display: block;
    position: relative;
    z-index: 2;
    
    .hc-navbar {
        background-color: #0f2852;

        .hc-navbar-right-container {
            padding: 0 3em;
            margin: 0;
        }
    }
}

hc-list-item {
    .hc-tile {
        color: inherit;
    }
}

hc-progress-dots {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $loading-background;
    left: 0;
    top: 0;
    z-index: 1;
}

html[lang] {
    hc-tile {
        background-color: transparent;
        border: 5px solid $hologram-blue;
        border-radius: 8px;
        color: lighten($color: $hologram-blue, $amount: 10);
        opacity: .8;
        font-weight: 600;
        font-size: 20px;

        &:hover {
            opacity: 1;
        }
    }
}
