@font-face {
    font-family: 'Aurebesh';
    src: url(/assets/subset-Aurek-Besh.eot);
    src: url(/assets/subset-Aurek-Besh.eot?#iefix) format('embedded-opentype'),
        url(/assets/subset-Aurek-Besh.woff2) format('woff2'),
        url(/assets/subset-Aurek-Besh.woff) format('woff'),
        url(/assets/subset-Aurek-Besh.ttf) format('truetype'),
        url(/assets/subset-Aurek-Besh.svg#Aurek-Besh) format('svg');
    font-weight: normal;
    font-style: normal;
}